<div id="content" ng-controller="pendingPostsController">

    <h1>Pending Posts</h1>

    <p>{{message}}</p>
    <hr>

    <div ng-repeat="post in posts">
        <h2><a href="/posts/{{post.permalink}}">{{post.title}}</a></h2>
        <span>Posted {{post.postDate | date:'MMMM dd, yyyy'}} by <a href="/users/{{post.author.username}}">{{post.author.username}}</a> - <a href="/publish/{{post.permalink}}">Publish Post</a></span>
        <div id="post-content" ng-bind-html="post.content"></div>
        <p><a href="/posts/{{post.permalink}}">Read More -></a></p>
        <hr>
    </div>

</div>
